<!--
tanguy merrien -  2022

CHEF+ - CONFIRMATION PAGE

This page is a confirmation notifying that the email submitted by the user was successfully saved
//-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>
  <link type="text/css" href="{% static "notifyme/css/notifyme.css" %}" rel="stylesheet">
</head>
<body>
  <div>
    <div>
      <h1 style="font-size: 50px">Thank you for joining us.</h1>
    </div>
    <div>
      <h2 style="color: #a2e762;">You're in.</h2>
    </div>
  </div>
</body>
