<!--
tanguy merrien -  2022

CHEF+ - PRIVACY PAGE

This page is presents the company's policies on privacy

-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy</title>
  <link type="text/css" href="{% static "notifyme/css/notifyme.css" %}" rel="stylesheet">
</head>
<body>
<br>  <h2 style="text-align: left; margin-left:50px;">Privacy</h2>
<br>
<br>  <p>Welcome to Privacy at Chef+ (“we”). In this policy, we outline what data we collect and how we use it.</p>
<br>
<br>  <h3 style="text-align: left;">Personal Information</h3>
<br>
<br>  <p>When you create an account on Chef+, you are asked to enter personal data. The type of data collected depends on the type of sign up options you chose, that’s user account creation, artist  account creation or anonymous. In both cases, this may include: profile name, email address, phone number, date of birth, gender, country, region, street address, government identification.</p>
<br>  <h3 style="text-align: left;">Service</h3>
<br>  <p>To make Chef+ work, we collect information about how you use our service. Examples include: search queries, taste preferences, collections you create, browsing history, account settings. We use data to enhance and personalize our service. For example, we use such information to: provide localized content, provide you with personalized recommendations for recipes and videos we think will be of interest to you.</p>
<br>
<br>
<br>  <h3 style="text-align: left;">Payment & Transaction DataWelcome to Privacy at Chef+ (“we”). In this policy, we outline what data we collect and how we use it.</h3>
<br>
<br>
<br>  <p>If you make any purchases from Chef+, we will need to process your payment data. The exact personal data collected will vary depending on the payment method, but will include information such as: name, date of birth, credit or debit card type, expiration date, and certain digits of your card number, ZIP/postal code, details of your purchase and payment history.</p>
<br>
<br>  <h3 style="text-align: left;">Changes to this policy</h3>
<br>
<br>  <p>We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of this policy.<p>
</body>
