<!--
tanguy merrien -  2022

CHEF+ - SIGNUP PAGE

This page is a form requesting for the user's email address before submitting it

-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link type="text/css" href="{% static "notifyme/css/notifyme.css" %}" rel="stylesheet">
</head>
<body>
  {% load crispy_forms_tags %}
  <div>
    <div>
      <h3>Be the first to know when Chef+ is available.</h3><br>
      <form method="POST">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field }}
        {% endfor %}
        <br>
        <!-- The submit button needs to be linked to the next page with JS -->
        <input class="submit" type="submit" value="Submit"><br>
      </form>
    </div>
  </div>
</body>
